<xml>

                <configs>

                               <config attr="configMode" value="4"/>

                               <config attr="ViewMode" value="2"/>

                               <config attr="OpenMode" value="1"/>

                               <config attr="ShowMode" value="C:\Users\fredm\OneDrive\Área de Trabalho\Teste_C++\teste\ConsoleApplication1\ConsoleApplication1"/>

                </configs>

</xml>
