<xml>

	<config>
		<origin value="C:\Users\fredm\OneDrive\Área de Trabalho"/>

		<destiny value="C:\Arquivo de Program\teste"/>		

                <file_name value=".txt"/>

		<regex search="false" value="[A-Z]{3}"/>
		
		<timer value="10"/>

		<newest_oldest_search search="true" value="newest"/>

        </config>
	
</xml>
