<xml>

	<config>
		<origin value="C:\Users\fredm\OneDrive\Área de Trabalho\Teste_C++\teste\ConsoleApplication1\ConsoleApplication1"/>

		<destiny value="C:\Boost"/>		

                <file_name value=".txt"/>

		<regex search="false" value="[A-Z]{3}"/>
		
		<timer value="10"/>

		<newest_oldest_search search="true" value="newest"/>

        </config>
	
</xml>
